# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
*.env
pyvenv.cfg
.Python

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# VSCode settings
.vscode/

# Build / distribution
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# System-specific
.DS_Store
Thumbs.db

lib/
bin/
__pycache__